@page
@model HIPPAWeb.Pages.Account.LoginModel
@{
    ViewData["Title"] = "HIPPA Messaging Console - Login";
}
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>HIPPA</b>Messaging Console</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Enter email to start your session</p>

            <form method="post">
                <div class="input-group mb-3">
                    <input type="email" asp-for="user.Email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <span asp-validation-for="user.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">

                    <!-- /.col -->
                    <div class="col-12">
                        <button type="submit" value="submit" asp-page-handler="Login" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>

@section Scripts {
      @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}